header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: blueviolet;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: sticky;
  top: 0;
}

header nav ul {
  display: flex;
  flex-direction: row;
  --_gap: 2rem;
  align-items: center;
}

nav li {
  padding-inline: calc(var(--_gap) / 6);
  position: relative;
  overflow: hidden;
}

nav li::after {
  content: '';
  height: 3px;
  position: absolute;
  width: 100%;
  background-color: orange;
  left: 0;
  bottom: 0;
  scale: 0 1;
  transition: scale 250ms, translate 250ms;
  /* make it corners round */
  border-radius: 5px;
  pointer-events: none;
}

nav li:hover::after {
  scale: 1 1;
}

nav li:hover + li::after {
  translate: -100%;
}

nav li:has(+ :hover)::after {
  translate: 100%;
}

nav ul a {
  font-weight: 550;
  color: inherit;
  transition: 400ms;
}
nav ul a:hover {
  color: red;
  cursor: pointer;
}
nav ul a::before {
  content: '';
  position: absolute;
  inset: -9px;
}

header .logo {
  font-size: 1.6rem;
}

.uptop {
  width: 100%;
  height: 20px;
  background-color: red;
  text-align: center;
  color: white;
  font-size: 0.7rem;
  overflow: hidden;
}

.downtop {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 12vh;
  background-color: blueviolet;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBar {
  display: block;
  height: 3vh;
  width: 100%;
  width: 18vw;
  margin-bottom: 10px;
  background-color: aqua;
}

.searchBar input {
  width: 100%;
}

.others {
  width: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.others h1 {
  position: relative;
  padding: 2px;
  right: 3px;
  top: 0;
}
